.generic-title{
    --color: var(--ion-color-step-850, #262626);
    margin: 5px;
    padding: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.label-operation-title{
    margin-left: 25px;
}

.large-icon {
    font-size: 50px; 
}

.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }
  .large-btn {
    font-size: 20px;           
    height: auto;
    width: 100%;            
    line-height: 60px;       
    padding-left: 20px;       
    padding-right: 20px;      
  }
  