.generic-title{
    --color: var(--ion-color-step-850, #262626);
    margin: 5px;
    padding: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.label-operation-title{
    margin-left: 25px;
}