<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome Agent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-background">
  <img src="../../assets/icon/logotipo-completo.png" class="background-image"/>

  <div class="login-form">
    <ion-item style="margin-top: 80%;">
      <ion-input
        type="email"
        fill="" 
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        [(ngModel)]="email"
        email
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
      type="password"
      fill="" 
      label="Password"
      labelPlacement="floating"
      errorText="Invalid Pass"
      [(ngModel)]="password"
      password
    ></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login()" color="primary" style="margin-top: 7%;" [disabled]="!email || !password"
      >Iniciar sesión</ion-button
    >
    <ion-label>¿Olvidaste tu contraseña?</ion-label>
  </div>
</ion-content>



<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <ion-text color="primary">
        <h1 style="text-align: center">Aviso</h1>
        <p style="margin-left: 2%">Email o Contraseña incorrectos</p>
      </ion-text>
    </div>
  </ng-template>
</ion-modal>
<ion-button expand="full" (click)="login()" color="primary" style="margin-top: 7%;"
>Crear cuenta nueva</ion-button
>