.login-background {
  background: url('../../assets/icon/logo-sae.png') no-repeat center center fixed;
  background-size: cover;
}

.background-image {
  width: 80%;
  max-width: 250px;
  margin-top: 2%;
}

.login-form {
  padding: 20px;
  text-align: center;
}

ion-item {
  --ion-label-color: white;
  --ion-input-color: white;
  --background: transparent; 
}
