<ion-card>
  <img alt="Silhouette of mountains" src="../../../assets/avion2.jpeg" class="back-image"/>
  <img class="profile-image" src="../../../assets/profile2.jpeg" alt="User Profile Image">
  <ion-card-header class="centered-header">
    <ion-card-title>Agente</ion-card-title>
    <ion-card-subtitle>Servicios Aereos Estrella</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-list lines="full" class="ion-padding-top">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input type="tel" [(ngModel)]="phone"></ion-input>
  </ion-item>
</ion-list>
