

<ion-item *ngIf="message" [routerLink]="'/operation/' + message.id">
  <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <ion-card-title>{{ translationService.getTranslation('operation') }} {{message.id}}</ion-card-title>
    <h2>
      {{ translationService.getTranslation('route') }} {{message.airportDeparture}} - {{message.airportArrival}} 
      <span class="date">
        <ion-note>{{ message.tail}}</ion-note>
        <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3> {{ translationService.getTranslation('flight') }} {{message.flightType}} </h3>
    <p>
      {{ translationService.getTranslation('etd') }}  {{message.etd}}
    </p>
    <p>
      {{ translationService.getTranslation('eta') }}  {{message.eta}}
    </p>
  </ion-label>
</ion-item>