

<ion-item *ngIf="message" [routerLink]="'/operation/' + message.id">
  <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <ion-card-title>{{ translationService.getTranslation('operation') }} {{message.id}}</ion-card-title>
    <h2>
      {{ translationService.getTranslation('route') }} {{message.airportDeparture}} - {{message.airportArrival}} 
      <span class="date">
        <ion-note>{{ message.tail}}</ion-note>
        <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3> {{ translationService.getTranslation('flight') }} {{message.flightType}} </h3>
    <ion-chip>
      <ion-avatar>
        <img alt="Airplane " src="assets/icon/airplane_departure.svg" />
      </ion-avatar>
      <ion-label>{{ translationService.getTranslation('etd') }}  {{message.etd}}</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-avatar>
        <img alt="Airplane Arrival" src="assets/icon/airplane_arrival.svg" />
      </ion-avatar>
      <ion-label>{{ translationService.getTranslation('eta') }}  {{message.eta}}</ion-label>
    </ion-chip>
  </ion-label>
</ion-item>