<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ translationService.getTranslation('crew') }}: {{ crew?.crew_parental }}
        {{ crew?.crew_maternal ? crew?.crew_maternal : "" }}
        {{ crew?.crew_name }}</ion-card-title
      >
      <ion-card-subtitle>{{ translationService.getTranslation('cardSubtitle') }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- PASSPORT DOCUMENT -->
        <ion-item>
          <ng-container *ngIf="crew?.crew_pass_img; else noImage">
            <ion-thumbnail slot="start">
              <a [href]="appUrl + crew?.crew_pass_img" download>
                <ion-img
                  [src]="appUrl + crew?.crew_pass_img"
                  alt="SAE"
                ></ion-img>
              </a>
            </ion-thumbnail>
          </ng-container>

          <ng-template #noImage>
            <ion-thumbnail slot="start">
              <ion-img
                src="https://www.apricotmaps.com/resources/Pictures/docs/no-image.png"
                alt="Imagen predeterminada"
              ></ion-img>
            </ion-thumbnail>
          </ng-template>

          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <div class="ion-text-wrap">
                  <p class="title-crew">{{ translationService.getTranslation('passport') }}</p>
                  <h4>
                    {{ translationService.getTranslation('date') }}
                    <ion-note>
                      {{
                        crew?.crew_pass_exp
                          ? (crew?.crew_pass_exp | date : "dd/MM/yyyy, HH:mm")
                          : "Date undefined"
                      }}
                    </ion-note>
                  </h4>
                </div>
              </ion-col>
              <ion-col size="3">
                <ion-button id="open-passport" class="custom-button">
                  <ion-icon name="list-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <!-- MODAL -->

              <ion-content class="ion-padding">
                <ion-modal
                  trigger="open-passport"
                  [initialBreakpoint]="1"
                  [breakpoints]="[0, 1]"
                >
                  <ng-template>
                    <ion-list>
                      <ion-item>
                        <ion-toggle
                          aria-label="Success toggle"
                          color="success"
                          [checked]="true"
                          [checked]="crew?.passport_image_crew_status === 1"
                          (ionChange)="checkboxChanged($event, 'crew_pass_sta')"
                          >{{ translationService.getTranslation('verify') }} {{ translationService.getTranslation('passport') }}<br /><ion-note class="ion-text-wrap"
                            >{{ translationService.getTranslation('make') }}</ion-note
                          ></ion-toggle
                        >
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">{{ translationService.getTranslation('comments') }}</ion-label>
                        <ion-textarea
                          [(ngModel)]="crew!.passport_image_crew_comments"
                        ></ion-textarea>
                      </ion-item>
                      <ion-row>
                        <ion-col size="12">
                          <ion-item>
                            <ion-button
                              class="large-btn"
                              (click)="sendVerify('crew_pass')"
                              expand="full"
                              >{{ translationService.getTranslation('verify') }}</ion-button
                            >
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-list>
                  </ng-template>
                </ion-modal>
              </ion-content>
            </ion-row>

            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-accordion-group>
                    <ion-accordion value="first" size="large">
                      <ion-item slot="header" color="light" size="large">
                        <ion-label>{{
                          getStatusLabel(crew?.passport_image_crew_status)
                        }}</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        {{ crew?.passport_image_crew_comments }}
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
        </ion-item>
        <!-- VISA DOCUMENT -->
        <ion-item>
          <ng-container *ngIf="crew?.crew_visa_img; else noImage">
            <ion-thumbnail slot="start">
              <a [href]="appUrl + crew?.crew_visa_img" download>
                <ion-img
                  [src]="appUrl + crew?.crew_visa_img"
                  alt="SAE"
                ></ion-img>
              </a>
            </ion-thumbnail>
          </ng-container>

          <ng-template #noImage>
            <ion-thumbnail slot="start">
              <ion-img
                src="https://www.apricotmaps.com/resources/Pictures/docs/no-image.png"
                alt="Imagen predeterminada"
              ></ion-img>
            </ion-thumbnail>
          </ng-template>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <div class="ion-text-wrap">
                  <p class="title-crew">Visa</p>
                  <h4>
                    {{ translationService.getTranslation('date') }}
                    <ion-note>
                      {{
                        crew?.crew_visa_exp
                          ? (crew?.crew_visa_exp | date : "dd/MM/yyyy, HH:mm")
                          : "Date undefined"
                      }}
                    </ion-note>
                  </h4>
                </div>
              </ion-col>
              <ion-col size="3">
                <ion-button id="open-visa" class="custom-button">
                  <ion-icon name="list-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <!-- MODAL -->

              <ion-content class="ion-padding">
                <ion-modal
                  trigger="open-visa"
                  [initialBreakpoint]="1"
                  [breakpoints]="[0, 1]"
                >
                  <ng-template>
                    <ion-list>
                      <ion-item>
                        <ion-toggle
                          aria-label="Success toggle"
                          color="success"
                          [checked]="true"
                          [checked]="crew?.visa_image_crew_status === 1"
                          (ionChange)="checkboxChanged($event, 'crew_visa_sta')"
                          >{{ translationService.getTranslation('verify') }} Visa<br /><ion-note class="ion-text-wrap"
                            >{{ translationService.getTranslation('make') }}</ion-note
                          ></ion-toggle
                        >
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">{{ translationService.getTranslation('comments') }}</ion-label>
                        <ion-textarea
                          [(ngModel)]="crew!.visa_image_crew_comments"
                        ></ion-textarea>
                      </ion-item>
                      <ion-row>
                        <ion-col size="12">
                          <ion-item>
                            <ion-button
                              class="large-btn"
                              (click)="sendVerify('crew_visa')"
                              expand="full"
                              >{{ translationService.getTranslation('verify') }}</ion-button
                            >
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-list>
                  </ng-template>
                </ion-modal>
              </ion-content>
            </ion-row>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-accordion-group>
                    <ion-accordion value="first" size="large">
                      <ion-item slot="header" color="light" size="large">
                        <ion-label>{{
                          getStatusLabel(crew?.visa_image_crew_status)
                        }}</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        {{ crew?.visa_image_crew_comments }}
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
        </ion-item>

        <!-- LICENSE DOCUMENT -->
        <ion-item>
          <ng-container *ngIf="crew?.crew_lice_img; else noImage">
            <ion-thumbnail slot="start">
              <a [href]="appUrl + crew?.crew_lice_img" download>
                <ion-img
                  [src]="appUrl + crew?.crew_lice_img"
                  alt="SAE"
                ></ion-img>
              </a>
            </ion-thumbnail>
          </ng-container>
          <ng-template #noImage>
            <ion-thumbnail slot="start">
              <ion-img
                src="https://www.apricotmaps.com/resources/Pictures/docs/no-image.png"
                alt="Imagen predeterminada"
              ></ion-img>
            </ion-thumbnail>
          </ng-template>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <div class="ion-text-wrap">
                  <p class="title-crew">{{ translationService.getTranslation('license') }}</p>
                  <h4>
                    {{ translationService.getTranslation('date') }}
                    <ion-note>
                      {{
                        crew?.crew_lice_exp
                          ? (crew?.crew_lice_exp | date : "dd/MM/yyyy, HH:mm")
                          : "Date undefined"
                      }}
                    </ion-note>
                  </h4>
                </div>
              </ion-col>
              <ion-col size="3">
                <ion-button id="open-license" class="custom-button">
                  <ion-icon name="list-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <!-- MODAL -->
              <ion-content class="ion-padding">
                <ion-modal
                  trigger="open-license"
                  [initialBreakpoint]="1"
                  [breakpoints]="[0, 1]"
                >
                  <ng-template>
                    <ion-list>
                      <ion-item>
                        <ion-toggle
                          aria-label="Success toggle"
                          color="success"
                          [checked]="true"
                          [checked]="crew?.license_image_crew_status === 1"
                          (ionChange)="checkboxChanged($event, 'crew_license_sta')"
                          >{{ translationService.getTranslation('verify') }} {{ translationService.getTranslation('license') }}<br /><ion-note class="ion-text-wrap"
                            >{{ translationService.getTranslation('make') }}</ion-note
                          ></ion-toggle
                        >
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">{{ translationService.getTranslation('comments') }}</ion-label>
                        <ion-textarea
                          [(ngModel)]="crew!.license_image_crew_comments"
                        ></ion-textarea>
                      </ion-item>
                      <ion-row>
                        <ion-col size="12">
                          <ion-item>
                            <ion-button
                              class="large-btn"
                              (click)="sendVerify('crew_license')"
                              expand="full"
                              >{{ translationService.getTranslation('verify') }}</ion-button
                            >
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-list>
                  </ng-template>
                </ion-modal>
              </ion-content>
            </ion-row>

            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-accordion-group>
                    <ion-accordion value="first" size="large">
                      <ion-item slot="header" color="light" size="large">
                        <ion-label>{{
                          getStatusLabel(crew?.license_image_crew_status)
                        }}</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        {{ crew?.license_image_crew_comments }}
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-grid>
        </ion-item>

        <!-- MEDICAL DOCUMENT -->
        <ion-item>
          <ng-container *ngIf="crew?.crew_medi_img; else noImage">
            <ion-thumbnail slot="start">
              <a [href]="appUrl + crew?.crew_medi_img" download>
                <ion-img
                  [src]="appUrl + crew?.crew_medi_img"
                  alt="SAE"
                ></ion-img>
              </a>
            </ion-thumbnail>
          </ng-container>
          <ng-template #noImage>
            <ion-thumbnail slot="start">
              <ion-img
                src="https://www.apricotmaps.com/resources/Pictures/docs/no-image.png"
                alt="Imagen predeterminada"
              ></ion-img>
            </ion-thumbnail>
          </ng-template>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
          <div class="ion-text-wrap">
            <p class="title-crew">{{ translationService.getTranslation('medical') }}</p>
            <h4>
              {{ translationService.getTranslation('date') }}
              <ion-note>
                {{
                  crew?.crew_medi_exp
                    ? (crew?.crew_medi_exp | date : "dd/MM/yyyy, HH:mm")
                    : "Date undefined"
                }}
              </ion-note>
            </h4>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-button id="open-medical" class="custom-button">
            <ion-icon name="list-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
            <!-- MODAL -->

            <ion-content class="ion-padding">
              <ion-modal
                trigger="open-medical"
                [initialBreakpoint]="1"
                [breakpoints]="[0, 1]"
              >
                <ng-template>
                  <ion-list>
                    <ion-item>
                      <ion-toggle
                        aria-label="Success toggle"
                        color="success"
                        [checked]="true"
                        [checked]="crew?.medical_exam_image_crew_status === 1"
                        (ionChange)="checkboxChanged($event, 'crew_medical_exam_sta')"
                        >{{ translationService.getTranslation('verify') }} {{ translationService.getTranslation('medical') }}<br /><ion-note class="ion-text-wrap"
                          >{{ translationService.getTranslation('make') }}</ion-note
                        ></ion-toggle
                      >
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">{{ translationService.getTranslation('comments') }}</ion-label>
                      <ion-textarea
                        [(ngModel)]="crew!.medical_exam_image_crew_comments"
                      ></ion-textarea>
                    </ion-item>
                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-button
                            class="large-btn"
                            (click)="sendVerify('crew_medical_exam')"
                            expand="full"
                            >{{ translationService.getTranslation('verify') }}</ion-button
                          >
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ng-template>
              </ion-modal>
            </ion-content>
          </ion-row>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-accordion-group>
                  <ion-accordion value="first" size="large">
                    <ion-item slot="header" color="light" size="large">
                      <ion-label>{{
                        getStatusLabel(crew?.medical_exam_image_crew_status)
                      }}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                      {{ crew?.medical_exam_image_crew_comments }}
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
              </ion-col>
            </ion-row>
          </ion-grid>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
